<!doctype html>
<html lang="ko">
<head>
  <%- include(views + 'header.ejs') %>
  <title>숫자야구 로비</title>
  <link rel="stylesheet" href="/stylesheets/wordle/lobby.css" />
  <script defer src="/javascripts/wordle/lobby.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <span class="title">방 목록</span>
      <span class="my-id" id="myId">ID:</span>
    </div>
    <div class="room-tab"><span>입장 가능</span></div>
    <div class="room-container" id="roomContainer"></div>
    <div class="control">
      <button class="btn btn-primary btn-room-create" onclick="createRoom()">방 만들기</button>
    </div>
  </div>
  <template id="roomTemplate">
    <div class="room">
      <div class="room-title"></div>
      <button class="btn btn-success btn-start room-enter">
        <i class="fa-solid fa-arrow-right-to-bracket"></i>
      </button>
    </div>
  </template>
</body>
</html>
