<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>숫자야구 게임</title>
  <!--stylesheet-->
  <link rel="stylesheet" href="/stylesheets/wordle/playboard.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />

  <!-- Font Awesome icons (free version) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

  <!--sweetalert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>

  <!--javascript-->
  <script src="/socket.io/socket.io.js"></script>
  <script language="JavaScript" src="/javascripts/wordle/playboard.js"></script>
</head>
<body>
</body>
</html>
