<!DOCTYPE html>
<html lang="ko">
<head>
  <title>랜덤</title>
  <link rel="stylesheet" href="/stylesheets/random/random.css"/>
  <script defer src="/javascripts/random/random.js"></script>
</head>
<body>
<div class="wrapper">
  <!-- 난수 컨테이너 div -->
  <div class="container">
    <p id="randint">?</p>
  </div>
  <!-- 난수 컨트롤 div -->
  <div class="control">
    <label for="range">범위:</label>
    <input type="number" class="form-control" id="range" placeholder="0 ~ N">
    <button class="btn btn-primary btn-start" onclick="start()">시작</button>
  </div>
</div>
</body>
</html>
