<!DOCTYPE html>
<html>
<head>
  <title>이잉</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

  <div class="container">
    <div class="game">
      <a href="random">랜덤</a>
    </div>
    <div class="game">
      <a href="youtube">유튜브</a>
    </div>
    <div class="game">
      <a href="jebi">제비뽑기</a>
    </div>
    <div class="game">
      <a href="weather">날씨</a>
    </div>
    <div class="game">
      이잉
    </div>
    <div class="game">
      이잉
    </div>
    <div class="game">
      이잉
    </div>
    <div class="game">
      이잉
    </div>
    <div class="game">
      이잉
    </div>
    <div class="game">
      이잉
    </div>
    <div class="game">
      이잉
    </div>
    <div class="game">
      이잉
    </div>
  </div>
</body>
</html>
