<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>하키 로비</title>

  <!--stylesheet-->
  <link rel="stylesheet" href="/stylesheets/games/hockey/lobby.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />

  <!-- Font Awesome icons (free version) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

  <!--sweetalert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>

  <!--javascript-->
  <script src="/socket.io/socket.io.js"></script>
  <script language="JavaScript" src="/javascripts/games/hockey/lobby.js"></script>
  <script>Swal</script>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <span class="title">방 목록</span>
      <span id="myId">123123</span>
    </div>
    <div class="room-tab"><span>입장 가능</span></div>
    <div class="room-container" id="roomContainer">
      <div class="room" id="room0">
        <div class="room-title"></div>
        <button class="btn btn-success btn-start room-enter">
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </button>
      </div>
    </div>
    <div class="control">
      <button class="btn btn-primary btn-room-create" onclick="createRoom()">방 만들기</button>
    </div>
  </div>
</body>
</html>
