* {
  box-sizing: content-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 1340px;
  margin: 0 auto;
  padding: 50px 0 200px 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #999;

  &-item {
    width: 300px;
    text-align: center;
  }
}

.my-answer-container {
  display: flex;
  align-items: center;
}

.my-answer {
  text-align: left;
  min-width: 150px;
}

.timer {
  font-size: 3em;
}

.container {
  display: flex;
  justify-content: center;
}

.user {
  display: flex;
  flex-direction: column;
  width: 601px;
  font-size: 2.5em;
  gap: 25px;

  &-left {
    align-items: flex-end;
  }

  &-right {
    align-items: flex-start;
  }
}

.line {
  display: flex;
  gap: 15px;
}

.tile-container {
  display: flex;
  gap: 14px;
}

.tile {
  display: grid;
  width: 60px;
  height: 60px;
  place-items: center;
  border: 3px solid #bbb;

  &-cur {
    border: 3px solid #8ebdea;
  }

  &-success {
    border: 3px solid #81ca8a;
    background: #e4ffe7;
  }
}

.result {
  display: flex;
  font-size: .75em;
  gap: 20px;
  min-width: 90px;
  margin-left: 30px;
  align-items: center;

  &-strike {
    color: #6aaa64;
  }

  &-ball {
    color: #c9b458;
  }

  &-out {
    color: #dc6f7c;
  }

  &-success {
    color: #97eded;
  }
}

.ver-line {
  background: #e4e4e4;
  width: 2px;
}

@for $i from 1 through 6 {
  .numlen-#{$i} .ver-line {
    margin: 0 186px - $i * 20px;
  }
}

.toast-container {
  z-index: 11;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  position: fixed;
}

.toast {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 100px;
  padding: 15px;
  font-size: 1.5em;
  box-shadow: #0003 0 6px 30px 5px;
  visibility: hidden;
  opacity: 0;
  width: auto;
  border: none;

  &-shown {
    visibility: visible;
    animation: fadeinout 4s linear forwards;
  }
}

@keyframes fadeinout {
  20% { opacity: 1; }
  80% { opacity: 1; }
}
