<!doctype html>
<html lang="ko">
<head>
    <%- include(templates + 'header') %>
    <title>두더지잡기 로비</title>
</head>
<body>
<%- include(templates + 'lobby') %>
<input type="hidden" id="nsp" value="mole">
</body>
</html>
