<!doctype html>
<html lang="ko">
<head>
    <%- include(templates + 'header') %>
    <title>두더지 잡기 게임</title>
</head>
<body>

<div class="test1">
    빨간색
</div>

<div class="test2">
    파란색
</div>

</body>
</html>
