<!doctype html>
<html lang="ko">
<head>
    <%- include(templates + 'header') %>
    <title>두더지 잡기 게임</title>
</head>
<body>
<div class="mole_main">
    <div class = "score_area">
        <div class="my_score">
            10
        </div>
        <div class="my_score_progress_bar">

        </div>
        <div class="enemy_score_progress_bar">

        </div>
        <div class="enemy_score">
            10
        </div>
    </div>

    <div class="mole_playboard">
    </div>
</div>
</body>
</html>
