<!DOCTYPE html>
<html>
<head>
  <%- include(templates + 'header') %>
  <title>이잉</title>
</head>
<body>
  <div class="container">
    <div class="game clickable" onclick="location.href = 'random'">랜덤</div>
    <div class="game clickable" onclick="location.href = 'youtube'">유튜브</div>
    <div class="game clickable" onclick="location.href = 'jebi'">제비뽑기</div>
    <div class="game clickable" onclick="location.href = 'weather'">날씨</div>
    <div class="game clickable" onclick="location.href = 'hockey'">하키</div>
    <div class="game clickable" onclick="location.href = 'wordle'">숫자야구</div>
    <div class="game">이잉</div>
    <div class="game">이잉</div>
    <div class="game">이잉</div>
    <div class="game">이잉</div>
    <div class="game">이잉</div>
    <div class="game">이잉</div>
    <div class="game">이잉</div>
  </div>
</body>
</html>
