<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!--stylesheet-->
    <link rel='stylesheet' href='  /stylesheets/games/youtube.css'/>

    <!--javascript-->
    <script language="JavaScript" src='/javascripts/games/youtube.js'></script>

    <!--jquery-->
    <script src="/libraries/jquery/jquery.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>하키 게임</title>
</head>
<body>

</body>
</html>
