<!DOCTYPE html>
<html lang="ko">
<head>
  <title>제비뽑기</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  <link rel='stylesheet' href='/stylesheets/games/jebi.css'/>
  <script type="text/javascript" src="/javascripts/games/jebi.js"></script>
</head>
<body>
</body>
</html>
