<!DOCTYPE html>
<html>
<head>
  <title>랜덤</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
  <div class="container">
    <%= Math.round(Math.random()); %>
  </div>
</body>
</html>
