<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!--스타일 시트-->
    <link rel='stylesheet' href='  /stylesheets/games/youtube.css'/>

    <!--javascript-->
    <script language="JavaScript" src='/javascripts/games/youtube.js'></script>

    <script src="/libraries/jquery/jquery.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>유튜브 내기</title>
</head>
<body>
<div class="modal">
    <div>
        <div class="youtube_modal">

        </div>
    </div>
</div>

<div class="youtube_loading_modal">
    <img class="youtube_loading_img" src="/icon/loading.png"/>
</div>

<div class="youtube_body">
    <div class="youtube_contain">
        <div class="youtube_btn_area">
            <div class="youtube_btn youtube_btn_margin">
                참가자 추가
            </div>
            <div class="youtube_btn">
                조회수
            </div>
        </div>

        <div class="youtube_input_area">
            <input class="youtube_input_text">
            <input class="youtube_input_text">
        </div>

        <div class="youtube_submit_btn">
            이이잉
        </div>
    </div>

    <div class="youtube_result_body">
    </div>
</div>
</body>
</html>
