<!doctype html>
<html lang="ko">
<head>
  <%- include(templates + 'header') %>
  <title>숫자야구 로비</title>
</head>
<body>
  <%- include(templates + 'lobby') %>
  <input type="hidden" id="nsp" value="wordle">
</body>
</html>
