.container {
  font-size: 1.3em;
}

.tab-pane {
  font-size: 1.3em;
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 50px;
}

#tab0 {
  font-size: 1.3em;
}

.user {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 3fr;
  place-items: center;
  gap: 10px 40px;
}

.form-control, .item-result, .item-answer, .item-result-total {
  min-height: 35px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 100%;
  margin: 70px 0 40px 0;
}

.control-label {
  flex-basis: 40px;
}

.control > input {
  flex-basis: 70px;
}


.btn-start {
  min-width: 60px;
}

body .swal2-popup {
  font-size: 1.2em;
}

/************ tab / nav snippet ***************/

.panel-heading {
  padding: 5px 5px 0 5px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: #31708f;
}

.nav-tabs > .open > a,
.nav-tabs > .open > a:hover,
.nav-tabs > .open > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: #31708f;
  background-color: #bce8f1;
  border-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #31708f;
  background-color: #fff;
  border-color: #bce8f1;
  border-bottom-color: transparent;
}

.dropdown-menu {
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.dropdown-menu > li > a {
  color: #31708f;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #bce8f1;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #31708f;
}
