<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include(templates + 'header') %>
  <title>제비뽑기</title>
</head>
<body>
<div class="wrapper">
  <!-- 제비 컨테이너 div -->
  <div class="container" id="jebiContainer">
    <img class="jebi-unopened" src="/images/games/jebi/jebi.png" id="1">
    <img class="jebi-unopened" src="/images/games/jebi/jebi.png" id="2">
    <img class="jebi-unopened" src="/images/games/jebi/jebi.png" id="3">
    <img class="jebi-unopened" src="/images/games/jebi/jebi.png" id="4">
    <img class="jebi-unopened" src="/images/games/jebi/jebi.png" id="5">
  </div>
  <!-- 제비 수 컨트롤 div -->
  <div class="control">
    <div>
      <label>제비 수:</label>
      <button class="btn btn-secondary btn-jebinum" id="jebiMinus" onclick="jebiMinus()">-</button>
      <span id="jebiNum">5</span>
      <button class="btn btn-secondary btn-jebinum" id="jebiPlus" onclick="jebiPlus()">+</button>
    </div>
    <div>
      <button class="btn btn-danger btn-reset" id="jebiReset" onclick="reset()">초기화</button>
      <button class="btn btn-primary btn-reset" id="showAilen" onpointerdown="toggleAilen(true)" onpointerup="toggleAilen(false)">꽝 확인</button>
    </div>
  </div>
</div>
<!-- toast -->
<div class="toast-container position-fixed bottom-0 start-50 translate-middle-x">
  <div id="toast" class="toast">
    <img src="/images/icons/circle-info.svg" width="19px" />
    <span id="toastText"></span>
    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
  </div>
</div>
</body>
</html>
