<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include(templates + 'header') %>
  <title>제비뽑기</title>
</head>
<body>
<div class="wrapper">
  <div class="container" id="jebiContainer">
    <img class="jebi-unopened" src="/images/games/jebi/jebi.png" id="1">
    <img class="jebi-unopened" src="/images/games/jebi/jebi.png" id="2">
    <img class="jebi-unopened" src="/images/games/jebi/jebi.png" id="3">
    <img class="jebi-unopened" src="/images/games/jebi/jebi.png" id="4">
    <img class="jebi-unopened" src="/images/games/jebi/jebi.png" id="5">
  </div>
  <div class="control">
    <div id="settings">
      <div>
        <label><img class="label-haha" src="/images/games/jebi/haha_small.png"> :</label>
        <button class="btn btn-secondary btn-jebinum" id="hahaMinus" onclick="hahaMinus()">-</button>
        <span class="label-jebinum" id="hahaNum">4</span>
        <button class="btn btn-secondary btn-jebinum" id="hahaPlus" onclick="hahaPlus()">+</button>
      </div>
      <div>
        <label><img class="label-haha" src="/images/games/jebi/ailen_small.png"> :</label>
        <button class="btn btn-secondary btn-jebinum" id="ailenMinus" onclick="ailenMinus()">-</button>
        <span class="label-jebinum" id="ailenNum">1</span>
        <button class="btn btn-secondary btn-jebinum" id="ailenPlus" onclick="ailenPlus()">+</button>
      </div>
    </div>
    <div>
      <button class="btn btn-danger btn-reset" id="jebiReset" onclick="reset()">초기화</button>
      <button class="btn btn-primary btn-reset" id="showAilen" onpointerdown="showAilen(true)" onpointerup="showAilen(false)">꽝 확인</button>
      <img class="icon" src="/images/common/settings.svg" id="btnSettings" onclick="showSettings()">
    </div>
  </div>
</div>
<!-- toast -->
<div class="toast-container position-fixed bottom-0 start-50 translate-middle-x">
  <div id="toast" class="toast">
    <img src="/images/icons/circle-info.svg" width="19px" />
    <span id="toastText"></span>
    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
  </div>
</div>
</body>
</html>
