html {
  font-size: 2em;
}

body {
  background: #e3ffdc;
}

.wrapper {
  margin: 5% 10%;
  padding: 5%;
  border-radius: 1rem;
  background: lightgray;
}

.container {
  text-align: center;
  font-size: 5em;
  margin-bottom: 100px;
}

.control {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin: 0 5%;
}

.input {
  max-width: 500px;
}

.btn {
  min-width: 150px;
  transform: scale(1.25);
}

body .swal2-popup {
  font-size: .75em;
}

@media (max-width: 1440px) {
  .container {
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-top: 25%;
  }

  .control {
    gap: 5vw;
  }

  .input {
    font-size: 0.75em;
    min-width: 35vw;
  }

  .btn {
    font-size: 5vw;
    min-width: 25vw;
    transform: none;
  }
}
