$bg-color: #f2edf3;
$clockable-color: #b71ed9;

body {
  background: $bg-color;
}

.container {
  display: grid;
  padding: 8%;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 200px;
  gap: 100px;
}

.game {
  display: grid;
  place-items: center;
  background: white;
  font-size: 1.3em;
  border-radius: 30px;
  box-shadow: rgb(0 0 0 / 15%) 0 6px 12px 0, inset rgb(0 0 0 / 0) 0 0 11px 7px;
  transition: box-shadow .3s;
}

.clickable {
  color: $clockable-color;
  cursor: pointer;
}

.clickable:hover {
  box-shadow: rgb(0 0 0 / 0) 0 6px 12px 0, inset rgb(0 0 0 / 15%) 0 0 11px 7px;
}
