body h1 {
  margin: 15px 15px 30px 15px;
}

.room-container {
  padding: 50px;
  max-width: 1000px;
  margin: auto;
}

#room0 {
  display: none;
}

.room {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 70px;
  padding: 0 30px;
  font-size: 1.4em;
  background-color: white;
  border-bottom: 1px solid #e4e5e6;
  transition: background-color .3s;
}

.room:hover {
  background-color: #dff1e6;
  border-color: #dff1e6;
}

.room-title {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.room-enter {
  min-width: 50px;
  text-align: right;
}

.room-tab.high span {
    background: #f86c6b;
    padding: 2px 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
}

.room-tab.medium {
    background: #fff0ab;
}

.room-tab.medium span {
    background: #f8cb00;
    padding: 2px 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
}

.room-tab.low {
    background: #cfedda;
}

.room-tab.low span {
    background: #4dbd74;
    padding: 2px 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
}

.room.high {
  border-left: 3px solid #f86c6b;
}

.room.medium {
  border-left: 3px solid #f8cb00;
}

.room.low {
  border-left: 3px solid #4dbd74;
}
