<!doctype html>
<html lang="ko">
<head>
  <%- include(templates + 'header') %>
  <title>하키 로비</title>
</head>
<body>
  <%- include(templates + 'lobby') %>
  <input type="hidden" id="nsp" value="hockey">
</body>
</html>
